/*CSS POUR LE HEADER*/

.menu li {
  list-style: none;
}

.menu li a {
  list-style: none; /* Supprime les puces devant chaque élément de liste */
  text-decoration: none; /* Supprime le soulignement des liens dans les éléments li */
  font-family: "Space Mono", monospace; /* Utilisez la police Space Mono */
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
  text-align: left;
  color: black;
  text-transform: uppercase; /* Mettre tout le texte en majuscules */
  margin-top: 14px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligne les éléments sur les extrémités */
}

.site-logo {
  flex: 0 0 auto; /* Ne pas agrandir ou réduire le logo */
  margin-left: 146px; /* Décalage du logo sur la droite */
  margin-top: 14px; /* Décalage du logo vers le bas */
}

.main-navigation {
  text-align: right; /* Aligne le texte à droite */
  margin-right: 214px; /* Décalage des liens vers la gauche */
}

.main-navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.main-navigation li {
  margin-left: 20px;
}

.main-navigation li:first-child {
  margin-left: 0px;
}

main-navigation li:nth-child(3) {
  margin-left: 1226px; /* Décalage du troisième lien sur la droite */
}

/*CSS POUR LE FOOTER*/

.site-footer {
  display: flex;
  justify-content: center;
}
.footer-links {
  display: flex;
  justify-content: space-between; /* Aligner les éléments sur les extrémités */
}

.footer-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-right: 85.5px; /* Espacement entre les éléments */
}

.footer-links li:last-child {
  margin-right: 0; /* Supprimer la marge à droite pour le dernier élément */
}

/*MODALE DE CONTACT*/

#modal-contact {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* Valeur de z-index plus élevée */
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  border: 3px solid #000000;
}

#modal-contact label {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase; /* Texte en majuscules */
}

#modal-contact input[type="submit"] {
  background-color: #d8d8d8;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px #00000005;
  width: 263px; /* Largeur fixe */
  height: 50px; /* Hauteur fixe */
  top: 683px;
  left: 165px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.77px;
  text-align: left;
  text-align: center;
}

#modal-contact input[type="submit"]:hover {
  background-color: #bfbfbf;
}
#modal-contact textarea {
  width: 263px;
  height: 210px;
  top: 23px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #b8bbc2;
  opacity: 0px;
}

#modal-contact input[type="text"],
#modal-contact input[type="email"],
#modal-contact input[type="text"][name="ref-photo"] {
  width: 263px;
  height: 40px;
  top: 23px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #b8bbc2; /* Bordure grise */
  opacity: 0px;
}
