/* ****************** hero-header ******************* */

.hero-header {
  height: 75vh; /* Hauteur de la fenêtre */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .overlay-image {
    position: relative;
    z-index: 2;

    img {
      width: 70%;
      height: 5vw;
    }
  }

  .hero-content {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
