/*MODALE DE CONTACT*/

.modal {
  display: none;
  z-index: 4; /* Assure que la modale est placée au-dessus du reste du contenu */
  width: 100%; /* Largeur de la modale sur toute la largeur de la fenêtre */
  height: 100%; /* Hauteur de la modale sur toute la hauteur de la fenêtre */
  overflow: auto; /* Ajoute un défilement automatique si le contenu de la modale dépasse la taille de la fenêtre */
  background-color: transparent; /* Fond transparent pour la modale */
  position: fixed; /* Positionnement fixe pour maintenir la modale en place */
  left: 0; /* Alignement à gauche de la fenêtre */
  top: 0; /* Alignement en haut de la fenêtre */
  font-family: "Space Mono", monospace;

  .modal-content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    padding-top: 18px;
    width: 597px;
    height: 770px;
    border: solid 5px black;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #modal-contact {
    label {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase; /* Texte en majuscules */
    }

    input[type="submit"] {
      background-color: #d8d8d8;
      color: black;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      cursor: pointer;
      box-shadow: 0px 2px 1px 0px #00000005;
      width: 263px; /* Largeur fixe */
      height: 50px; /* Hauteur fixe */
      top: 683px;
      left: 165px;
      border-radius: 2px 0px 0px 0px;
      opacity: 0px;
      font-family: "Space Mono", monospace;
      font-size: 12px;
      font-weight: 400;
      line-height: 17.77px;
      text-align: left;
      text-align: center;

      &:hover {
        background-color: #bfbfbf;
      }
    }

    textarea {
      width: 263px;
      height: 210px;
      top: 23px;
      gap: 0px;
      border-radius: 8px;
      border: 1px solid #b8bbc2;
      opacity: 0px;
    }

    input[type="text"],
    input[type="email"],
    input[type="text"][name="ref-photo"] {
      width: 263px;
      height: 40px;
      top: 23px;
      gap: 0px;
      border-radius: 8px;
      border: 1px solid #b8bbc2;
      opacity: 0px;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;
}
